
body {
    margin: 0;
    padding: 0;
    --light-blue: #6da0e4;
    --blue: #3e60db;
}

#navBar {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    padding: 0;
}

#navBar a, #navBar .selected {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: "Titillium Web";
    padding: 15px 30px;
    margin: 0;
}

#navBar a:hover, #navBar .selected {
    background-color: #3655c4;
}
